.root {
  display: grid;
  gap: 2rem;
  grid-template-columns: 17.6rem 1fr;
  grid-template-rows: 8rem 8rem auto;
  grid-template-areas:
    'image email'
    'image nickname'
    'bio bio'
    '. button';

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'image'
      'email'
      'nickname'
      'bio'
      'button';
  }

  & > button {
    width: 12rem;
    margin-left: auto;
    grid-area: button;
  }

  & > textarea {
    height: 16rem;
  }
}

.bio {
  grid-area: bio;
}

.imageContainer {
  width: 18rem;
  height: 18rem;
  border-radius: 1.6rem;
  grid-area: image;

  @media (max-width: 768px) {
    margin: 0 auto;
  }
}