.root {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.imageContainer {
  width: 17.6rem;
  height: 17.6rem;
  border-radius: 1.6rem;

  @media (max-width: 768px) {
    margin: 0 auto;
  }
}

.emailNicknameContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

.button {
  width: 12rem;
  margin-left: auto;
}

.textarea {
  height: 24rem;
}
