.root {
  display: flex;

  & > main {
    padding: 0;
    overflow: scroll;
    height: calc(100vh - 65px);
    flex: 1;
    scrollbar-width: none;

    @media (max-width: 768px) {
      height: calc(100vh - 57px);
    }
  }
}
