:root {
  font-size: 62.5%;
  --white: #fff;
  --black: #333;
  --primary: #f8f8f8;
  --primary-text: #c89b51;
  --error: #d6173a;

  --brown-20: #c89b51;
  --brown-30: #a47e41;
  --brown-40: #6a522b;
  --brown-70: #44341b;
  --brown-90: #3d2f18;

  --gray-30: #d9d9d9;
  --gray-50: #838383;
}

html {
  background-color: var(--primary);
}
