:root {
  --white: #fff;
  --black: #333;
  --primary: #f8f8f8;
  --primary-text-white: #e6c162;
  --primary-text: #c89b51;
  --error: #d6173a;

  --brown-20: #c89b51;
  --brown-30: #a47e41;
  --brown-40: #6a522b;
  --brown-70: #44341b;
  --brown-90: #3d2f18;

  --gray-10: #f5f5f5;
  --gray-20: #f0f0f0;
  --gray-30: #d9d9d9;
  --gray-50: #838383;

  --pink-20: #f77576;
  --pink-40: #f14b4c;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/PretendardVariable.woff2") format("woff2");
  display: swap;
  font-weight: 45 920;
}

@font-face {
  font-family: "BagelFet";
  src: url("/fonts/BagelFatOne-Regular.ttf") format("truetype");
  display: swap;
  font-weight: 400;
}

html {
  font-family: "Pretendard", sans-serif;
  background-color: var(--primary);
  font-size: 62.5%;
  color: var(--black);
}
