.label {
  border: none;

  &:focus-within {
    border: none;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  margin: 0 auto;
  padding: 1.6rem;
  max-width: 720px;
  width: 100%;

  & label {
    padding: 0;
  }
}

.tag {
  font-size: 1.2rem;
  font-weight: bold;
}

.tag::placeholder {
  font-weight: 500;
}
