.label {
  border: none;

  &:focus-within {
    border: none;
  }
}

.titleInput {
  font-size: 2.4rem;
  font-weight: bold;
}

.tagInput {font-size: 1.2rem; flex: 1 0 15rem;  font-weight: bold;}

.form {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  margin: 5rem auto 0;
  padding: 1.6rem;
  max-width: 720px;
  width: 100%;

  & label {
    padding: 0;
  }
}

.tag::placeholder {
  font-weight: 500;
}
