.root {
  display: flex;
  flex-direction: column; 
  gap: 8rem;
}

.containerRoot {
  display: flex;
  flex-direction: column; 
}

.inputRoot {display: flex; align-items: flex-end; gap: 1.2rem;
  & > .textarea {
    flex: 1;
    resize: none;
  }

  & > .button {
    flex: 0 6rem;
  }
}

.viewerRoot {
  display: flex;
  align-items: flex-start;
  font-size: 1.4rem;
  gap: 1rem;

  & > .box {flex: 1; width: calc(100% - 5rem); display: flex; flex-direction: column; gap: 1rem;}

  & > .nickname {
    font-weight: bold;
    font-size: 1.6rem;
  }

  & > .image { position: relative; height: 4rem; width: 4rem; flex: 0 0 4rem; border-radius: 999rem; overflow: hidden;}
}

.button {
  display: flex;
  gap: 0.8rem;
  margin-left: auto;
  width: fit-content;}

.replyContainerRoot {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;


  & > .replyButton {margin-left: 0; margin-bottom: 2rem; width: fit-content;}
}