.root {
  height: 14.4rem;

  background: var(--white);
  border-radius: 0.8rem;

  overflow: hidden;

  display: flex;
  flex-direction: row;

  flex: 0 0 14.4rem;

  &:hover {
    cursor: pointer;
    background: var(--gray-20);
  }
}

.imageWrapper {
  width: 9.6rem;
  height: 14.4rem;
  flex: 0 0 9.6rem;
  position: relative;

  & img {
    object-fit: cover;
  }
}
