.root {
  display: inline-block;
  background-color: var(--brown-70);
  width: 100%;
  color: var(--primary);
  font-weight: 700;
  border-radius: 0.8rem;
  padding: 1.25rem 1.6rem;
  font-size: 1.6rem;
  text-align: center;
}

.disabled {
  background: var(--gray-50);
}

.white {
  background: var(--white);
  border: 1px solid var(--brown-70);
  color: var(--brown-70);
}

.doubleButton {
  display: flex;
  gap: 0.8rem;

  & button {
    flex: 1;
  }
}
