.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 700;
  border-radius: 0.8rem;
  text-align: center;
}

.container {
  display: flex;
  gap: 0.8rem;

  & button {
    flex: 1;
  }
}

/* size */
.small {
  font-size: 1.2rem;
  gap: 0.4rem;
  padding: 0.8rem 1.2rem;
}

.medium {
  font-size: 1.6rem;
  gap: 0.8rem;
  padding: 1.25rem 1.6rem;
}

.large {
  font-size: 2rem;
  gap: 1.2rem;
  padding: 1.6rem 2rem;
}


/* color */

.primary {
  background: var(--brown-70);
  color: var(--primary);
}

.white {
  background: var(--white);
  border: 1px solid var(--brown-70);
  color: var(--brown-70);
}

:is(.primary, .white):disabled {
  background: var(--gray-50);
}

.like {
  border: 1px solid var(--pink-20);
  color: var(--black);
  background: var(--primary);

  & svg {
    color: var(--pink-40);
  }
}

.borderless {
  padding: 0;
  border: 0;
}

.kakao {
  background: #FEE500;
}