.root {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blur {
  backdrop-filter: blur(1rem);
  background-color: rgba(0, 0, 0, 0.3);
  height: 28rem;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5rem;
}

.reportSize {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  padding: 1.6rem;
  font-weight: 500;
}

.reportInfo {
  color: var(--primary);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 1rem;

  & hr {
    width: 10rem;
    margin: 0 auto;
  }
}

.reportTitle {
  letter-spacing: -0.1rem;
  word-spacing: 0.1rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.reportMain {
  font-size: 1.6rem;
  padding-top: 10rem;
  line-height: 1.8;
  white-space: pre-wrap;
}

.icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.icons svg {
  cursor: pointer;
  font-size: 1.4rem;
  color: var(--white);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
