.dashboardHeaderContainer {
  container: dashboardHeader / inline-size;
  max-width: 1096px;
  width: 100%;
  padding: 0 1.6rem;
  margin: 0 auto;
}

.root {
  display: flex;
  align-items: flex-start;
  gap: 2.4rem;
}

.profileImage {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  flex: 0 0 15rem;

  & > img {
    object-fit: cover;
  }
}

.nickBio {
  flex: 1;
  width: 100%;
}

.nickname {
  font-family: bagelFet;
  color: var(--brown-90);
  font-size: 3.2rem;
  font-weight: 900;
}

.bio {
  width: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  white-space: pre-line;
  overflow: hidden;
}

.button {
  width: 5rem;
}

@container dashboardHeader (max-width: 768px) {
  .profileImage {
    width: 10rem;
    height: 10rem;
    flex: 0 0 10rem;
  }

  .nickname {
    font-size: 2.4rem;
  }
}
