.root {
  width: 22rem;
  position: fixed;
  top: 6.5rem;
  height: calc(100dvh - 64px);
  flex: 0 0 22rem;
  background: var(--white);

  transition: all 0.2s ease-in-out;

  @media (max-width: 768px) {
    z-index: 3;
    top: 0;
    margin-left: -22rem;
    height: 100dvh;
  }

  @media (max-width: 420px) {
    width: 100%;
    margin-left: -100%;
  }
}

.root.open {
  margin-left: 0;
}

.menu {
  margin-top: 6rem;
  padding: 1.6rem 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  height: 100%;

  & > :is(button, a) {
    color: var(--brown-70);
    font-size: 1.6rem;
    font-weight: 700;
  }
}

.closeButton {
  display: none;
  border: none;
  background: none;
  font-size: 2.55rem;

  @media (max-width: 768px) {
    display: block;
    padding: 1.6rem;
  }

  @media (max-width: 420px) {
    padding: 1.6rem;
  }
}

.label {
  height: 4rem;
  align-items: center;

  & > input {
    height: 2rem;
  }
}
