.root {
  font-size: 1.6rem;
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  gap: 0.4rem;
  flex-direction: column;
}

.tagInputWrapper {
  display: flex;
  gap: 0.4rem;
  align-items: "center";
  flex-wrap: wrap;
}

.tagBox {
  display: flex;
  gap: 0.4rem;
  align-items: "center";
}

.inputName {
  font-weight: 500;
}

.label {
  color: var(--brown-90);
  width: 100%;
  padding: 1.25rem 1.6rem;
  border-radius: 0.8rem;
  border: 1px solid var(--gray-30);
  display: flex;
  justify-content: space-between;
}

.label:focus-within {
  border: 1px solid var(--brown-40);
}

.labelError {
  border: 1px solid var(--error);
}

.button {
  background-color: transparent;
  border: 0;
  flex: 0 0 1.6rem;
}

.errorMessage {
  color: var(--error);
  font-size: 1.4rem;
}

.input {
  font-size: 1.4rem;
  border: 0;
  width: 100%;
  color: var(--brown-90);
  background: inherit;
  outline: none;
  flex: 1;
}

.input:placeholder {
  color: var(--gary-30);
}

.markdown {
  width: 100%;

  @media (max-width: 420px) {
    & > div:first-child {
      height: 5rem !important;
      gap: 1rem;
    }
  }
}

.inputImage {
  display: block;
  overflow: hidden;
  background-color: var(--gray-50);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  height: 100%;

  border-radius: 1.2rem;

  & input {
    display: none;
  }

  & .hoverCover {
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.5);
  }

  &:hover .hoverCover {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 1.6rem;
  }
}
