.root {
  font-size: 1.6rem;
  display: flex;
  flex: 1;
  gap: 0.4rem;
  flex-direction: column;
}

.inputName {
  font-weight: 500;
}

.label {
  color: var(--brown-90);
  width: 100%;
  padding: 1.25rem 1.6rem;
  border-radius: 0.8rem;
  border: 1px solid var(--gray-30);
  display: flex;
  justify-content: space-between;
}

.label:focus-within {
  border: 1px solid var(--brown-40);
}

.labelError {
  border: 1px solid var(--error);
}

.button {
  background-color: transparent;
  border: 0;
}

.errorMessage {
  color: var(--error);
  font-size: 1.4rem;
}
